# network_dump folder and everything in it
network_dump/

# bags folder and everything in it
bags/

# pointclouds folder and everything in it
pointclouds/

#pycache stuff in any sub-directory
**/__pycache__/


# vscode workspace files
*.code-workspace